## ASSIGNMENT SIMPLE LINEAR REGRESSION

Q1 . Delivery_time -> Predict delivery time using sorting time

In [17]:
## 1st Import all necessary libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [29]:
df1 = pd.read_csv("/content/delivery_time.csv")
df1

    Delivery Time  Sorting Time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [30]:
## 1st remove space and add underscore in column names
df1 = df1.rename(columns={"Delivery Time":"Del_Time","Sorting Time":"Sort_Time"})
df1

    Del_Time  Sort_Time
0      21.00         10
1      13.50          4
2      19.75          6
3      24.00          9
4      29.00         10
5      15.35          6
6      19.00          7
7       9.50          3
8      17.90         10
9      18.75          9
10     19.83          8
11     10.75          4
12     16.68          7
13     11.50          3
14     12.03          3
15     14.88          4
16     13.75          6
17     18.11          7
18      8.00          2
19     17.83          7
20     21.50          5

In [48]:
new_df1 = df1.drop(["Del_Time"],axis=1)
new_df1

    Sort_Time
0          10
1           4
2           6
3           9
4          10
5           6
6           7
7           3
8          10
9           9
10          8
11          4
12          7
13          3
14          3
15          4
16          6
17          7
18          2
19          7
20          5

In [49]:
X_train,X_test,y_train,y_test = train_test_split(df1[['Del_Time']], df1['Sort_Time'], test_size=0.2, random_state=0)

In [50]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [57]:
Delivery_time = [[13.75]]
prediction = model.predict(Delivery_time)
print("Model Accuracy Score is : ",model.score(X_train,y_train)*100.0,"%")
print("Your prediction value is :",prediction)

Model Accuracy Score is :  80.38195344364209 %
Your prediction value is : [4.97762708]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(